@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-style: normal;

}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #f8f8f8;
}

header {
}


/************** INÍCIO NAVEGAÇÃO **************/
nav {
position: relative;
width: 100%;
display: flex;
justify-content: space-between;
}

.img-logo {
    position: relative;
    top: 0.5vh;
    background: url('imagens/logo/logo\ all-black.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 40%;
    height: 10vh;;
}

.menu-mobile {
    margin: 4.5vh;
    background-color: black;
     width: 10%;
     height: 3px;
     box-shadow: 0 10px 0px black;
     transition: 0.3s;
     border-radius: 10px;
}
.menu-mobile::after {
    content: "";
    background-color: black;
    display: flex;
    position: relative;
    top: 20px;
    height: 3px;
    transition: 0.3s;
    border-radius: 10px;
}
.menu-mobile.active {
    box-shadow: none;
    position: relative;
    transform: rotate(45deg);
    transition: 0.3s;
}
.menu-mobile.active::after {
    transform: rotate(-90deg);
    position: relative;
    top: 0;
    transition: 0.3s;
}

.menu {
    background-color: rgb(26, 25, 25);
    width: 70%;
    height: 100vh;
    position: fixed;
    left: -100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    z-index: 5;
}
.menu.active {
    left: 0;
    transition: 0.3s;
}
/************** FIM NAVEGAÇÃO **************/



/************** INÍCIO APRESENTAÇÃO **************/
.bg-texto-apresentacao {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    margin-top: 5vh;
}
.texto-apresentacao {
    margin: 0 5%;
    font-size: 2.5em;
    color: rgb(230, 42, 42);
    font-weight: bold;

}
/************** FIM PRESENTAÇÃO **************/



/************** INÍCIO ROLAGEM DO CABEÇALHO **************/
.rolagem-cabecalho2 {
    width: 100%;
    height: 10vh;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    overflow: auto;
    gap: 5%;
}
.texto-rolagem {
    transition: 0.5s;
    color: rgb(54, 54, 54);
}
.texto-rolagem:hover {
    transform: scale(1.1);
    font-weight: bold;
    transition: 0.5s;
    text-decoration: underline 2px rgb(255, 5, 5);
    text-underline-offset: 10px;
}
.texto-rolagem-1 {
    margin-left: 7%;
}
.texto-rolagem-7 {
    margin-right: 7%;
}

.rolagem-cabecalho {
    align-items: end;
    width: 100%;
    height: 40vh;
    display: flex;
    overflow-x: auto;
}

.bg-img-rolagem {
    background-color: blue;
    min-width: 50%;
    height: 27vh;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 35px;
    display: flex;
    justify-content: center;
}
.bg-img-rolagem-1 {
    background-color: rgb(0, 174, 255);
}
.bg-img-rolagem-2 {
    background-color: #FFF44F;
}

.img-rolagem {
    position: relative;
    top: -10vh;
    width: 90%;
    height: 20vh;
    border-radius: 50%;
}
.img-rolagem-1 {
    background: url('https://png.pngtree.com/png-vector/20240710/ourmid/pngtree-burger-with-floating-ingredient-png-image_13054386.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.img-rolagem-2 {
    background: url('https://i.pinimg.com/originals/d5/85/2f/d5852fcbfcc5a14c662d11eb1e5da1fe.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.bg-btn-peca-agora {
    margin-top: 5vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.btn-peca-agora {
    background-color: rgb(73, 72, 72);
    color: #f8f8f8;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 0.9em;
    border: none;
}
.btn-peca-agora:hover {
    background-color: green;
    color: white;
    transform: scale(1.1);
    transition: 0.3s;
}
/************** FIM ROLAGEM DO CABEÇALHO **************/