@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
}

header {
}


/************** INÍCIO NAVEGAÇÃO **************/
nav {
position: relative;
width: 100%;
display: flex;
justify-content: space-between;
}

.img-logo {
    position: relative;
    top: 0.5vh;
    background: url('imagens/logo/Ipafood\ \(Cartões\ de\ visita\ \(Paisagem\)\)\ \(500\ x\ 500\ px\)\ \(150\ x\ 150\ px\)\ site.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 40%;
    height: 10vh;;
}

.menu-mobile {
    margin: 26px 10px;
    background-color: #fee500;
     width: 10%;
     height: 3px;
     box-shadow: 0 10px 0px #fee500;
     transition: 0.3s;
     border-radius: 10px;
}
.menu-mobile::after {
    content: "";
    background-color: #fee500;
    display: flex;
    position: relative;
    top: 20px;
    height: 3px;
    transition: 0.3s;
    border-radius: 10px;
}
.menu-mobile.active {
    box-shadow: none;
    position: relative;
    top: 1.5vh;
    transform: rotate(45deg);
    transition: 0.3s;
}
.menu-mobile.active::after {
    transform: rotate(-90deg);
    position: relative;
    top: 0;
    transition: 0.3s;
}

.menu {
    background-color: #fee500;
    width: 70%;
    height: 100vh;
    position: fixed;
    left: -100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}
.menu.active {
    left: 0;
    transition: 0.3s;
}
/************** FIM NAVEGAÇÃO **************/


/************** INÍCIO ROLAGEM DO CABEÇALHO **************/
.rolagem-cabecalho {
    width: 100%;
    margin-top: 5vh;
    height: 40vh;
    display: flex;
    overflow-x: auto;
    gap: 40px;
}
.img-rolagem-1, .img-rolagem-2, .img-rolagem-3 {
    min-width: 100%;
    height: 100;
}
.img-rolagem-1 {
    background: url('imagens/HAMBURGUER.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.img-rolagem-2 {
    background: url('imagens/HOTDOG.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.img-rolagem-3 {
    background: url('imagens/AÇAI.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
/************** FIM ROLAGEM DO CABEÇALHO **************/