@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Crete Round", serif;
    font-weight: 400;
    font-style: normal;

}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #f8f8f8;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}
body.active {
    background-color: #121212;
    transition: 0.5s;
}

header {
}


/************** INÍCIO NAVEGAÇÃO **************/
nav {
position: relative;
width: 100%;
display: flex;
justify-content: space-between;
}

.btn-tema {
    background-image: url('https://cdn.pixabay.com/photo/2021/02/01/17/14/sunrise-5971361_1280.png');
    background-position: right top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
    height: 3vh;
    position: relative;
    top: 75vh;
    right: 72%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;transition: 0.5s;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.342);
}
.ball {
    background-color: rgb(255, 255, 255);
    position: relative;
    left: -22%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    transition: 0.5s;
}

.btn-tema.active {
    background-image: url('https://cdn.pixabay.com/photo/2021/08/13/10/20/nature-6542721_640.png');
    background-position: left top 40%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
    height: 3vh;
    position: relative;
    top: 75vh;
    right: 72%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;transition: 0.5s;
}
.ball.active {
    background-color: #e9da05;
    transform: translate(103%);
    transition: 0.5s;
}

.img-logo {
    position: relative;
    top: 0.5vh;
    background: url('imagens/logo/logo\ all-black.svg');
    background-repeat: no-repeat;
    background-position: center center;
    width: 40%;
    height: 10vh;;
}

.menu-mobile {
    margin: 4.5vh;
    background-color: black;
     width: 10%;
     height: 3px;
     box-shadow: 0 10px 0px black;
     transition: 0.3s;
     border-radius: 10px;
     transition: 0.5;
}
.menu-mobile.active2 {
    background-color: #b0b0b0;
    box-shadow: 0 10px 0px #b0b0b0;
    transition: 0.5;
}
.menu-mobile::after {
    content: "";
    background-color: black;
    display: flex;
    position: relative;
    top: 20px;
    height: 3px;
    transition: 0.3s;
    border-radius: 10px;
    transition: 0.5;
}
.menu-mobile.active2::after{
    background-color: #b0b0b0;
    transition: 0.5;
}
.menu-mobile.active {
    box-shadow: none;
    position: relative;
    transform: rotate(45deg);
    transition: 0.3s;
}
.menu-mobile.active::after {
    transform: rotate(-90deg);
    position: relative;
    top: 0;
    transition: 0.3s;
}

.menu {
    background-color: white;
    width: 70%;
    height: 100vh;
    position: fixed;
    left: -100%;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
    z-index: 5;
}
.menu.active {
    left: 0;
    transition: 0.3s;
    
}
.menu.active2 {
    background-color: #121212;
    color: #b0b0b0;
}

.lista-menu {
    width: 100%;
    height: 60%;
    overflow: hidden;
}
.texto-menu {
    list-style: none;
    position: relative;
    top: 5%;
    left: 3%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    width: 85%;
    display: flex;
    align-items: center;
    gap: 25%;
}
.texto-menu:hover {
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.281);
    margin: 10px;
    border-radius: 30px;
}
.texto-menu img {
    width: 10%;
    height: 100%;
}
.icone-menu.active {
    filter: invert(15%);
}
.texto-menu:hover > img {
    transition: 1.3s;
    transform: rotateY(360deg);
}
/************** FIM NAVEGAÇÃO **************/



/************** INÍCIO APRESENTAÇÃO **************/
.bg-texto-apresentacao {
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    margin-top: 5vh;
}
.texto-apresentacao {
    margin: 0 5%;
    font-size: 2.5em;
    color: rgb(230, 42, 42);
    font-weight: bold;

}
.texto-apresentacao.active {
    color: #b0b0b0;
}
/************** FIM APRESENTAÇÃO **************/



/************** INÍCIO ROLAGEM DO CABEÇALHO **************/
.rolagem-cabecalho2 {
    width: 100%;
    height: 10vh;
    margin-top: 5vh;
    display: flex;
    align-items: center;
    overflow: auto;
    gap: 5%;
}
.texto-rolagem {
    color: rgb(54, 54, 54);
}
.texto-rolagem:hover {
    font-weight: bold;
    text-decoration: underline 2px rgb(255, 5, 5);
    text-underline-offset: 10px;
}
.texto-rolagem-1 {
    margin-left: 7%;
}
.texto-rolagem-7 {
    margin-right: 7%;
}

.rolagem-cabecalho {
    align-items: end;
    width: 100%;
    height: 40vh;
    display: flex;
    overflow-x: auto;
}

.bg-img-rolagem {
    min-width: 50%;
    height: 25vh;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 35px ;
    display: flex;
    justify-content: center;
    align-items: first baseline;
}
.bg-img-rolagem-1 {
    background-color: rgb(0, 174, 255);
}
.bg-img-rolagem-2 {
    background-color: #FFF44F;
}

.img-rolagem {
    position: relative;
    left: 74%;
    top: -12vh;
    min-width: 35%;
    height: 20vh;
    border-radius: 50%;
    transform: scale(2);
}

.preco-lanche {
    background-color: white;
    min-width: 50%;
    height: 3vh;
    position: relative;
    color: rgb(230, 42, 42);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 3vh;
    left: 27%;
    border-radius: 5px;
}

.add-carrinho {
    background-color: white;
    color: rgb(230, 42, 42);
    width: 20%;
    height: 3vh;
    position: relative;
    top: -17.8vh;
    left: 40%;
    font-size: 0.8em;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.39);
}

.bg-ingredientes {
    position: relative;
    top: -12.5vh;
    right: 52.5%;
    min-width: 80%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ingredientes {
    color: white;
    font-size: 0.5em;
    width: 100%;
    padding: 5px;
}
.ingredientes-item-1 {}
.ingredientes-item-2 {color: #121212;}
.titulo-lanche {
    font-size: 1.5em;
}

.img-rolagem-1 {
    background: url('https://png.pngtree.com/png-vector/20240710/ourmid/pngtree-burger-with-floating-ingredient-png-image_13054386.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.img-rolagem-2 {
    background: url('https://i.pinimg.com/originals/d5/85/2f/d5852fcbfcc5a14c662d11eb1e5da1fe.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

.bg-btn-peca-agora {
    margin-top: 5vh;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.btn-peca-agora {
    background-color: #121212;
    color: #f8f8f8;
    padding: 10px;
    width: 30%;
    border-radius: 5px;
    transition: 0.3s;
    font-size: 0.9em;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}
/************** FIM ROLAGEM DO CABEÇALHO **************/


/************** INÍCIO BOTÃO WHATSAPP **************/
.wpp {
    background: url('https://img.lovepik.com/png/20231104/whatsapp-icon-Software-remind-chat_482612_wh1200.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    top: 89vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
}